.info-inner {
    max-width: 1051px;
    margin-bottom: 150px;
}
.info-inner p {
    margin-bottom: 30px;
    color: #121212;
    font-size: 45px;
    line-height: 61px;
    letter-spacing: -0.03em;
}
.info-inner a {
    display: block;
    margin-bottom: 150px;
    width: 255px;
    height: 67px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #AD1818;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 67px;
    text-align: center;
} 

@media (max-width:1199px) {
    .info-inner {
        margin-bottom: 120px;
        width: 100%;

    }
    .info-inner p {
        max-width: 690px;
        font-size: 35px;
        line-height: 48px;
    }
    .info-inner a {
        width: 255px;
        height: 67px;
        margin-bottom: 120px;
    }
}
@media (max-width:767px) {
    .info-inner {
        margin-bottom: 80px;
    }
    .info-inner p {
        width: 100%;
        font-size: 22px;
        line-height: 30px;
    }
    .info-inner a {
        margin-bottom: 80px;
        width: 100%;
        height: 51px;
        font-size: 16px;
        line-height: 51px;
    } 
}