/* .nav-section {
    width: 1151.35px;
    height: 25.18px;
    margin: 32.82px auto 70px;
}
.logo-link {
    display: inline-block;
    width: 126.89px;
}
.logo {
    display: block;
    Width: 126.89px;
    height: 21.42px;
    margin-right: 548.46px;
}
.nav {
    float: right;
    vertical-align: top;
}
.nav__link {
    margin-left: 58px;
    height: 25px;
    margin-top: 0.18px;
    display: inline-block;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #121212;
    text-decoration: none;
}
.nav__link:hover {
    opacity: 0.5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
} */