@import url("/styles/nav-section.css");
@import url("/styles/info.css");
@import url("/styles/room.css");
@import url("/styles/projects.css");
@import url("/styles/project-example-img.css");
@import url("/styles/services.css");
@import url("/styles/reviews.css");
@import url("/styles/contacts.css");
@import url("/styles/footer.css");

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Manrope',sans-serif;
    font-weight: 400;
    width: 100%;
    margin: 0 auto;
    background: #FFFFFF;
    letter-spacing: -0.03em;
}
.container {
    max-width: 1150px;
    margin: 0 auto;
}

/* Адаптив */
@media (max-width:1199px) {
    .container {
        width: 100%;
        padding-left: 17px;
        padding-right: 15px;
    }
}
@media (max-width:767px) {
    .container {
        padding-left: 13px;
        padding-right: 12px;
    }
}