@import url(./nav-section.css);
@import url(./info.css);
@import url(./room.css);
@import url(./projects.css);
@import url(./project-example-img.css);
@import url(./services.css);
@import url(./reviews.css);
@import url(./contacts.css);
@import url(./footer.css);

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Manrope',sans-serif;
    font-weight: 400;
    width: 100%;
    margin: 0 auto;
    background: #FFFFFF;
    letter-spacing: -0.03em;
}
.container {
    max-width: 1150px;
    margin: 0 auto;
}

/* Адаптив */
@media (max-width:1199px) {
    .container {
        width: 100%;
        padding-left: 17px;
        padding-right: 15px;
    }
}
@media (max-width:767px) {
    .container {
        padding-left: 13px;
        padding-right: 12px;
    }
}